# .NET Core
bin/
obj/
out/
*.user
*.userosscache
*.suo
*.cache
*.dbmdl
*.jfm
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual Studio
.vs/
.vscode/
*.swp
*.swo
*~

# Rider
.idea/
*.iml

# macOS
.DS_Store

# Test Coverage
coverage/
*.coverage
*.coveragexml
TestResults/

# NuGet
*.nupkg
*.snupkg
packages/
!packages/build/

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# Benchmark Results
BenchmarkDotNet.Artifacts/

# Azure
*.pubxml
*.publishproj

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
